@tailwind base;
@tailwind components;
@tailwind utilities;
/*
@layer base{
  @font-face {
      font-family: 'matrixzone';
      font-weight: 400;
      src: url("../public/fonts/Matrix Zone.ttf") format('truetype');
  }
  
  @font-face {
    font-family: 'matrixzone';
    font-weight: 400;
    src: url("../public/fonts/Matrix Zone.woff") format('woff');
  }
}*/